<!-- Login Modal -->
<div id="loginModal" class="modal fade" aria-hidden="true" aria-labelledby="loginModalLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="loginModalLabel" class="modal-title">Login to SentiSocial</h5>
        <button class="btn-close" aria-label="Close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <form>
          <input name="csrf_token" type="hidden" value="{{ csrf_token() }}" />
          <div id="loginError" style="display: none;"></div>
          <div class="mb-3">
            <label class="form-label" for="loginEmail">Email address</label>
            <input id="loginEmail" class="form-control" name="email" required type="email" />
          </div>
          <div class="mb-3">
            <label class="form-label" for="loginPassword">Password</label>
            <input id="loginPassword" class="form-control" name="password" required type="password" />
          </div>
          <div class="mb-3 form-check">
            <input id="rememberMe" class="form-check-input" type="checkbox" />
            <label class="form-check-label" for="rememberMe">Remember me</label>
          </div>
          <div class="text-end">
            <a class="text-decoration-none" href="#">Forgot password?</a>
          </div>
          <button class="btn btn-primary w-100 mt-3" type="submit">Login</button>
        </form>
      </div>
      <div class="modal-footer justify-content-center">
        <p class="text-muted">
          Don't have an account?
          <a data-bs-dismiss="modal" data-bs-target="#registerModal" data-bs-toggle="modal" href="#">Sign up</a>
        </p>
      </div>
    </div>
  </div>
</div>
